#section_seven {
// 	background: url(#{$themePath}images/testimonials-bg-1920.jpg) top center;
	background-size:cover;
	width:100%;
	padding: 0 60px 165px;
}


.sec_seven_inner {
	max-width:1678px;
	margin:0 auto;
}


.sec_seven_slider {
	padding:245px 0 0;
	display: flex;
	justify-content: space-between;
}


.sec_seven_single_slide {
	width:31.7%;
	text-align: center;
	height:765px;
	background:#fff;
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.28);
	position: relative;
	padding:265px 30px 0;
	&:hover {
		.sec_seven_hover {
			opacity: 1;
			visibility: visible;
		}
	}
	span.svg {
		display: block;
		width:100%;
		position: absolute;
		top:113px;
		left:0;
		svg {
			
		}
	}
	span.amount {
		display: block;
		color:$bluelight;
		font-size:100px;
		font-family: $prata;
		&:after {
			content:"";
			display: block;
			width:60px;
			height:5px;
			background: $beige;
			margin:25px auto 0;
		}
	}
	span.small_header {
		text-transform: uppercase;
		font-size:14px;
		font-family: $montserrat;
		font-weight: 800;
		line-height: 22px;
		letter-spacing: 0.2em;
		display: block;
		max-width: 370px;
		margin:45px auto 0;
	}
	span.sec_seven_arrow {
		display: block;
		margin-top:65px;
		svg {
			width:80px;
			height:80px;
			.slide_button-cls-1 {
        fill: #182d56;
        transition: all 200ms ease-in-out;
      }
			.slide_button-cls-2 {
        fill: #fff;
         transition: all 200ms ease-in-out;
      }
		}
	}
	.sec_seven_hover {
		position: absolute;
		top:0;
		left:0;
		background: $blue;
		width:100%;
		height:100%;
		padding:0px 30px 0;
		opacity: 0;
		visibility: hidden;
		transition: all 300ms ease-in-out;
		a {
			display: block;
			text-decoration: none;
		}
		span.sec_seven_content {
			color:#fff;
			font-size:26px;
			font-family: $playfair;
			line-height: 42px;
			max-width:200px;
			display: block;
			max-width: 370px;
			margin:0 auto;
			&:before {
				content:"";
				display:block;
				width:56px;
				height:4px;
				background: $bluelight;
				margin:148px auto 44px;
			}
		}
		span.view_results {
			text-transform: uppercase;
			position: absolute;
			bottom:0;
			left:0;
			width:100%;
			text-align: center;
			&:after {
				content:"View All Results";
				display: inline-block;
				color:#fff;
				background: $bluelight;
				font-family: $montserrat;
				font-weight: 800;
				letter-spacing: 0.2em;
				padding:25px 70px;
				transition: all 200ms ease-in-out;
			}
			&:hover {
				&:after {
					background: #fff;
					color:$bluelight;
				}
			}
		}
	}
}



.sec_seven_single_slide.one {
	span.svg {
		svg {
			width:80px;
		}
	}
}


.sec_seven_single_slide.two {
	margin-top: -83px;
	span.svg {
		svg {
			width:67px;
		}
	}
}


.sec_seven_single_slide.three {
	span.svg {
		margin-top:5px;
		svg {
			width:63px;
		}
	}
}



@media screen and (max-width: 1450px) {
	
	
	// #section_seven {
	// 	height: 1000px;
	// }
	
	
	.sec_seven_slider {
    padding: 232px 0 0;
   }
   
   
   .sec_seven_single_slide {
	   	padding: 180px 30px 0;
		   height: 520px;
		
	   	.sec_seven_hover {
		   	span.sec_seven_content {
			   	font-size: 22px;
			   	line-height: 38px;
			   	max-width: 340px;
			   	&:before {
				   	margin: 51px auto 44px;
			   	}
		   	}
		   	span.view_results {
			   	&:after {
				   	font-size:15px;
				   	padding: 25px 48px;
			   	}
		   	}
	   	}
	   	span.sec_seven_arrow {
		   	margin-top: 39px;
	   	}
	  	span.svg {
		 		top:70px;
			}
			span.amount {
				font-size:85px;
			}
			span.small_header {
				margin: 32px auto 0;
			}
   	}
   
   
    .sec_seven_single_slide.one {
   	 	
		}
   
   
   .sec_seven_single_slide.two {
   	 	margin-top: -60px;
		}
		
		
		 .sec_seven_single_slide.three {
   	 	
		}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1250px) {
	
	
	.sec_seven_single_slide .sec_seven_hover span.sec_seven_content:before {
    margin: 51px auto 27px;
}
	
	
	
} /* Media Query */



@media screen and (max-width: 1220px) {
	
	
	
	#section_seven {
		background-image: none;
		background-color: #f5f5f5;
		height:auto;
		padding-bottom:95px;
	}
	
	
	.sec_seven_slider {
    padding: 97px 0 0;
	}
	
		.sec_seven_single_slide {
	   	margin:5px 5px 8px;
	   	padding: 228px 30px 0;
	   	height: 589px;
	   	&:hover {
		   
	   	}
	   	span.svg {
		   	margin-top: 5px;
	   	}
	   	.sec_seven_hover {
		   	opacity: 1;
		   	visibility: visible;
		   	background: transparent;
		   	span.sec_seven_content {
			   display: none;
			   	&:before {
				   
			   	}
		   	}
		   	span.view_results {
			   	&:hover {
				   	&:after {
					   	background:$bluelight;
					   	color:#fff;
				   	}
			   	}
			   	&:after {
				   
			   	}
		   	}
	   	}
	   	span.sec_seven_arrow {
		   	
	   	}
	  	span.svg {
		 		
			}
			span.amount {
				font-size:100px;
				&:after {
					margin: 30px auto 0;
				}
			}
			span.small_header {
				margin: 42px auto 0;
			}
   	}
	
	
	
	.sec_seven_single_slide.two {
   	 	margin-top:5px;
	}
	
	
	.sec_seven_single_slide {
		 span.sec_seven_arrow {
			 display: none;
			 
		 }
	}

	
	.sec_seven_slider {
		max-width:650px;
		margin-left:auto;
		margin-right:auto;
		.slick-dots {
			position: absolute;
			bottom: -48px;
			left:0;
			list-style: none;
			li.slick-active {
				button {
					&:before {
						background:$bluelight;
					}
				}
			}
			li:hover {
				button {
					&:before {
						background: $bluelight;
					}
				}
			}
			li {
				width:30px;
				height:3px;
				margin:0 5px;
				list-style: none;
				button {
					height:3px;
					padding:0;
					&:before {
						width:100%;
						height:100%;
						opacity: 1;
						background: $blue;
						content:"";
					}

				}
			}
		}
	}

	
	
} /* Media Query */


@media screen and (max-width: 1000px) {
	
	
	.sec_seven_slider {
		max-width:505px;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	
	#section_seven {
		padding-left:30px;
		padding-right:30px;
	}
	
	
	.sec_seven_slider {
    padding: 84px 0 0;
    .slick-dots {
			bottom: -41px;
			li.slick-active {
				button {
					&:before {
						
					}
				}
			}
			li:hover {
				button {
					&:before {
						
					}
				}
			}
			li {
				
				button {
					
					&:before {
						
					}

				}
			}
		}
	}
	
	.sec_seven_single_slide {
		padding: 201px 30px 0;
		height: 500px;
		span.svg {
    	top: 62px;
		}
		span.amount {
			font-size:70px;
			&:after {
				margin: 26px auto 0;
			}
		}
		span.small_header {
			margin-top:25px;
		}
		.sec_seven_hover {
			span.view_results {
				padding-left:15px;
				padding-right:15px;
				&:after {
					width: 100%;
					padding-left:5px;
					padding-right:5px;
				}
			}
		}
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 345px) {
	
	
	
	.sec_seven_single_slide {
		span.amount {
			font-size:55px;
		}
	}
	
	
	
} /* Media Query */
