#section_two {
	width:100%;
	background: url(#{$themePath}images/pattern-white.jpg) top center repeat;
	padding:0 40px 270px;
}

.sec_two_inner {
	max-width:1690px;
	margin:0 auto;
	padding:185px 0 0;
}


.sec_two_slider {
	display: flex;
	justify-content: space-between;
}

.single_slide {
	background: #fafafa;
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.28);
	width:31.9%;
	padding:130px 0 0 0;
	height:570px;
	position: relative;
	span.small_header {
		color:$bluelight;
		text-transform: uppercase;
		font-family: $montserrat;
		font-weight: 800;
		letter-spacing: 0.2em;
		display: block;
		font-size: 15px;
	}
	span.large_header {
		display: block;
		font-family: $playfair;
		font-weight: 700;
		font-size:45px;
		margin: 6px 0 0;
		color:#010423;
	}
}

.single_slide_inner {
	max-width:342px;
	margin:0 auto;
	position: relative;
	z-index:1;
}

.slide_svg {
	position: absolute;
	
	left:0;
	width:100%;
	.slide_svg_inner {
		svg {
			width:100%;
		}
	}
}


.single_slide.slide_one {
	.slide_svg {
		bottom:0;
	}
}

.single_slide.slide_two {
	margin-top:-80px;
	.slide_svg {
		top:0;
	}
}

.single_slide.slide_three {
	.slide_svg {
		bottom:0;
	}
}



	
	span.slide_content {
		display: flex;
		font-family: $montserrat;
		//font-weight: 400;
		font-weight: 500;
		font-size:16px;
		line-height: 28px;
		margin:66px 0 0;
		color:#010423;
		&:before {
			content:"";
			width: 50px;
			height: 5px;
			background:$beige;
			display: block;
			flex-shrink: 0;
			margin-top:13px;
			margin-right:20px;
		}
	}


.slide_button {
	display: none;
}

@media screen and (max-width: 1450px) {
	
#section_two {
	padding: 0 40px 293px;
}
	
.sec_two_inner {
	padding: 177px 0 0;

}


.single_slide {
	height: 456px;
	padding: 76px 20px 0;
}

.single_slide.slide_two {
  margin-top: -71px;
}


span.slide_content {
	display: block;
	margin: 50px 0 0px;
	font-size:15px;
	&:before {
		margin-bottom:25px;
	}
}

.single_slide_inner {
	max-width: 290px;
}
	
	
	
} /* Media Query */



@media screen and (max-width: 1135px) {
	
	#section_two {
		padding: 0 29px 293px;
	}
	
	
	.sec_two_inner {
		padding: 95px 0 0;
		display: flex;
		align-items: center;
		max-width: 700px;
	}
      
	
	.sec_two_slider {
		display: block;
		max-width: 513px;
		margin-left:auto;
		margin-right:auto;
		justify-content: none;
		order:2;
		
	}
	
	.single_slide {
		margin: 3px 7px 7px;
		height: 498px;
		padding: 108px 20px 0;
	}
	
	.single_slide_inner {
    max-width: 324px;
}
	.single_slide.slide_two {
		margin-top:3px;
	}
	
	
	.slide_button {
		width:70px;
		height:70px;
		display: block;
		svg {
			width:70px;
			height:70px;
		}
	}
	
	.back_button {
		order:1;
	}
	
	
	.next_button {
		order:3;
	}
	
	span.slide_content {
		margin: 50px 0 0px;
		&:before {
			margin-top:0;
		}
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	#section_two {
		padding: 0 20px 293px;
	}
	
	.sec_two_inner {
		padding: 66px 0 0;
		display: block;
		text-align: center;
	}
	
	
	.single_slide {
		padding: 61px 41px 0;
		height: 442px;
		text-align: left;
		margin-bottom: 30px;
	}
	
	
	.slide_button {
		display: inline-block !important;
		width:67px;
		height:67px;
		svg {
			width:67px;
			height:67px;
		}
	}
	
	.back_button {
		margin-right:5px;
	}
	
	.next_button {
		margin-left:5px;
	}
	
	
	span.slide_content {
		margin: 44px 0 0px;
		font-size:15px;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 380px) {
	
	.single_slide {
		span.small_header {
			font-size: 14px;
		}
		span.large_header {
			font-size: 41px;
		}
	}
	
	.single_slide {
		padding: 61px 23px 0;
	}
	
	
	
} /* Media Query */



