#section_eight {
	width:100%;
	position: relative;
	padding:0 80px 225px;
	overflow: hidden;
	&:after {
		content:"";
		width:1430px;
		height: 889px;
		display: block;
		background: #f5f5f5;
		position: absolute;
		top:0;
		right:0;
	}
}


.sec_eight_inner {
	max-width: 1465px;
	margin:0 auto;
	display: flex;
	position: relative;
	z-index:1;
}


.sec_eight_left {
	margin:178px 0 0;
	flex-grow:1;
	
	img {
		max-width:100%;
		height:auto;
		float:right;
	}
	span.sec_eight_caption {
		font-size:14px;
		text-transform: uppercase;
		display: block;
		float:right;
		max-width: 355px;
		line-height: 29px;
		letter-spacing: 0.16em;
		font-family: $montserrat;
		font-weight: 800;
		margin:40px 0 0;
		&:before {
			content:"";
			width:100%;
			height:5px;
			display: block;
			background: $beige;
			margin:0 0 23px;
		}
	}
}

.sec_eight_right {
	flex-basis:850px;
	flex-shrink: 0;
	margin:240px 0 0;
	padding:0 0 0 5.5%;
	span.large_header {
		font-family: $playfair;
		font-weight: 700;
		line-height: 129px;
		font-size:120px;
		display: block;
		margin-bottom: 36px;
		color:#172c57;
	}
	.sec_eight_content {
		padding-left:12.5%;
	}
	.sec_eight_content.content {
		font-size: 16px;
	}
}

span.sec_eight_svg {
	position: absolute;
	top:727px;
	left: -44px;
	svg {
		width:455px;
		height: 390px;
		opacity: 0.6;
	}
}


@media screen and (max-width: 1615px) {
	
	
#section_eight {
	&:after {
		width:1230px;
		height: 789px;
	}
}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1560px) {
	
	
	
	.sec_eight_right {
		.sec_eight_content {
			padding-left:0%;
		}
	}
	
	
} /* Media Query */




@media screen and (max-width: 1500px) {
	
	
	#section_eight {
		padding: 0 80px 170px;
		&:after {
			width: 972px;
		}
	}
	
	
	.sec_eight_left {
    margin: 125px 0 0;
    &:after {
	   	height: 803px;
    }
    span.sec_eight_caption {
	    margin: 57px 0 0;
    }
  }
  
  
  .sec_eight_right {
	  margin: 107px 0 0;
	  flex-basis: 740px;
	  padding: 0 0 0 7%;
	  span.large_header {
		  font-size:92px;
		  line-height: 100px;
		  margin-bottom: 39px;
	  }
  }
  
  
  
  span.sec_eight_svg {
	  top: 670px;
	  left:-70px;
  }

	
	
	
	
} /* Media Query */


@media screen and (max-width: 1370px) {
	
	
	#section_eight {
		&:after {
			width: 1110px;
			height: 719px;
		}
	}
	
	
	span.sec_eight_svg {
		top:670px;
	}
	
	
} /* Media Query */



@media screen and (max-width: 1300px) {
	
	
	#section_eight {
		&:after {
			height: 519px;
		}
	}
	
	
	span.sec_eight_svg {
		top:600px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1250px) {
	
	
	
	#section_eight {
		padding: 0 75px 105px;
		&:after {
			display: none;
		}
	}

	
	.sec_eight_inner {
		flex-direction: column;
	}
	
	
	.sec_eight_left {
		order:2;
		margin-top:0;
		
		img {
			display: none;
		}
		span.sec_eight_caption {
			margin: 45px 0 0;
			max-width:100%;
			br {
				display: none;
			}
			&:before {
				margin: 0 0 20px;
			}
		}
	}
	
	.sec_eight_right {
		order:1;
		padding-left:0;
		margin: 85px 0 0;
		span.large_header {
			margin-bottom: 18px;
		}
	}
	
	    
	
	
	span.sec_eight_svg {
		display: none;
	}
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	#section_eight {
		padding: 0 32px 70px;
	}
	
	
	.sec_eight_left {
		span.sec_eight_caption {
    	margin: 7px 0 0;
		}
	}
	
	.sec_eight_right {
		margin: 65px 0 0;
		span.large_header {
			font-size:54px;
			line-height: 60px;
		}
	} 
	
	
	span.section_one_large_header {
		max-width: 420px;
	}
	
	
	    
	
	
	
} /* Media Query */