#section_six {
	width:100%;
	background: url(#{$themePath}images/pattern-white.jpg) top left repeat;
	padding:0 45px 192px;
}

.sec_six_inner {
	display: flex;
	max-width:1685px;
	margin:0 auto;
}


.sec_six_left {
	width:58%;
	margin:310px 0 0;
}



.sec_six_slider {
	background: #fff;
	width:100%;
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.28);
	position: relative;
}

.sec_six_single_slide {
	padding: 110px 110px 0 15%;
	height:715px;
	span.stars_svg {
		display: block;
		svg {
			width:135px;
			height: 63px;
		}
	}
	span.sec_six_content {
		color:#172c57;
		font-family: $playfair;
		font-size:34px;
		line-height: 54px;
		display: block;
		margin:35px 0 0;
	}
	span.sec_six_name {
		color:$bluelight;
		font-family: $playfair;
		font-weight: 700;
		font-style: italic;
		font-size:20px;
		display: block;
		margin:95px 0 0;
	}
}




.sec_six_buttons {
	width:79px;
	height:79px;
	position: absolute;
	bottom:160px;
	right:-40px;
	svg {
		width:79px;
		height:79px;
		.slide_button-cls-1 {
        fill: #182d56;
        transition: all 200ms ease-in-out;
      }

      .slide_button-cls-2 {
        fill: #fff;
         transition: all 200ms ease-in-out;
      }
	}
	span.sec_six_button {
		display: block;
		cursor: pointer;
		&:hover {
			svg {
				.slide_button-cls-1 {
					fill:$bluelight;
				}
				.slide_button-cls-2 {
					fill:#fff;
				}
			}
		}
	}
	span.right_button {
		transform: rotate(180deg);
		margin-top:12px;
	}
}


.sec_six_right {
	width:42%;
	padding-left:77px;
	padding-top:158px;
	span.small_header {
		text-transform: uppercase;
		font-family: $montserrat;
		font-weight: 800;
		letter-spacing: 0.16em;
		font-size:15px;
		display: block;
		&:before {
			content:"";
			display: inline-block;
			background: $beige;
			width:52px;
			height:4px;
			vertical-align: top;
			margin-right:25px;
			margin-top:6px;
		}
	}
	span.large_header {
		color:$bluelight;
		font-size:93px;
		text-transform: lowercase;
		font-family: $montserrat;
		font-weight: 800;
		display: block;
		margin-top:33px;
		line-height: 110px;
	}
}


a.testi_button {
	background: $blue;
	color:$bluelight;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	font-family: $montserrat;
	font-weight: 700;
	font-size:16px;
	letter-spacing: 0.2em;
	padding:25px 40px;
	margin:62px 0 0;
	transition: all 200ms ease-in-out;
	&:hover {
		background: $bluelight;
		color:#fff;
	}
}
