#section_four {
	width:calc(100% - 157px);
	margin-bottom:140px;
}


.sec_four_inner {
	width:100%;
	background:#f5f5f5;
	display: flex;
	padding: 0 0 90px 138px;
}


.sec_four_left {
	width: 55%;
	padding:122px 0 0;
	span.small_header {
		text-transform: uppercase;
		display: block;
		color:#2c3350;
		font-size:15px;
		font-family: $montserrat;
		font-weight: 800;
		letter-spacing: 0.2em;
		line-height: 22px;
		&:before {
			content:"";
			display: inline-block;
			width:52px;
			height:5px;
			background: $beige;
			margin-right: 32px;
			vertical-align: top;
			margin-top:9px;
		}
	}
	span.sec_four_intro {
		font-size:50px;
		display: block;
		font-family: $montserrat;
		font-weight:800;
		line-height: 66px;
		max-width: 800px;
		margin: 44px 0 0;
		color:#2c3350;
	}
}

.sec_four_content {
	padding: 44px 120px 0 10%;
}


.sec_four_content.content {
	font-size:16px;
}



.sec_four_right, .smaller_screen_layout_change {
	width:45%;
	padding: 70px 70px 0 50px;
	img {
		width:100%;
		max-width:621px;
		height:auto;
		float:right;
	}
	span.sec_four_caption {
		margin:54px 0 0;
		max-width:255px;
		display: block;
		float:right;
		font-family: $montserrat;
		font-weight: 800;
		font-size:14px;
		line-height: 28px;
		text-transform: uppercase;
		color:#000;
		letter-spacing: 0.17em;
		&:before {
			content:"";
			display: block;
			width:100%;
			height:5px;
			background:$beige;
			margin:0 0 21px;
		}
	}
}

.smaller_screen_layout_change {
	display: none;
}



@media screen and (max-width: 1450px) {
	
	#section_four {
		width:100%;
		margin-bottom:0;
	}
	
	.sec_four_inner {
		padding: 0 138px 190px 138px;
	}
	
	.sec_four_left {
		width:100%;
		span.sec_four_intro {
			font-size:44px;
			line-height: 60px;
			max-width: 920px;
		}
	}
	
	.sec_four_right {
		display: none;
	}
	
	.smaller_screen_layout_change {
		display:block;
		width:50%;
		float:right;
		
	}
	
	.sec_four_content {
		width: 51%;
		float:left;
		padding: 67px 0 0;
	}
	
	
	.smaller_screen_layout_change {
		width:49%;
		max-width: 500px;
		padding: 95px 0px 0 50px;
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1250px) {
	
	
	.sec_four_inner {
    padding: 0 61px 190px;
	}
	
	
} /* Media Query */



@media screen and (max-width: 1135px) {
	
	.sec_four_left {
   	padding: 105px 0 0;
   	span.sec_four_intro {
	   	font-size:40px;
	   	line-height: 56px;
   	}
	}
	
	.smaller_screen_layout_change {
		//display: none;
		width:100%;
		max-width:100%;
		padding:0;
		
		img {
			display: none;
		}
		span.sec_four_caption {
			max-width:100%;
			margin: 20px 0 0;
			float:none;
			//text-align: center;
		}
	}
	
	
	.sec_four_content {
		padding: 45px 0 0;
		width:100%;
	}
	
	.sec_four_inner {
		 padding: 0 61px 95px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	
	.sec_four_left {
    padding: 79px 0 0;
    
    span.small_header {
	    &:before {
	    	display: none;
    	}
    	&:after {
	    	content:"";
				display:block;
				width:52px;
				height:5px;
				background: $beige;
				margin-right:38px;
				vertical-align: top;
				margin-top: 25px;
    	}
    }
    span.sec_four_intro {
	    font-size:32px;
	    line-height: 42px;
	    margin: 23px 0 0;
    }
  }
  
  .sec_four_content {
	  padding: 4px 0 0;
  }
  
  
  .sec_four_inner {
	  padding: 0 35px 73px;
  }
	
	
	.smaller_screen_layout_change {
		span.sec_four_caption {
			margin:0 0 0;
		}
	}
	
	
} /* Media Query */