#section_three {
	margin:-143px 0 130px;
	padding-left:75px;
	padding-right:75px;
}


.sec_three_inner {
	span.small_header, h1 {
		display: block;
		text-align: center;
	}
	span.small_header {
		font-family: $montserrat;
		font-weight: 800;
		color:$bluelight;
		font-size:17px;
		letter-spacing: 1.2em;
		text-transform: uppercase;
		position: relative;
		z-index: 1;
		padding-left:1.2em;
	}
	h1 {
		color:$blue;
		font-family: $playfair;
		font-weight: 700;
		font-size:100px;
		line-height: 111px;
		max-width:900px;
		margin:10px auto 0;
		
		
	}
}


.states_svg {
	width:110px;
	height: 138px;
	margin:-80px auto 0;
	svg {
		width:110px;
		height: 138px;
	}
}


.sec_three_content {
	margin:92px auto 0;
	max-width:1530px;
	column-count:2;
	column-gap:105px;
}


@media screen and (max-width: 1450px) {
	
	
	
	#section_three {
		margin: -143px 0 80px;
	}
	
	.sec_three_content {
		 max-width: 1107px;
		 column-gap: 76px;
		 margin: 82px auto 0;
	}
	   
	
	
	
	
} /* Media Query */




@media screen and (max-width: 1135px) {
	
	
	#section_three {
		margin: -143px 0 67px;
		padding-left:45px;
		padding-right:45px;
	}
	
	.sec_three_inner {
		span.small_header {
			letter-spacing: 0.5em;
		}
		h1 {
			font-size: 76px;
			line-height: 90px;
			max-width: 710px;
		}
	}
	
	.sec_three_content {
		margin: 62px auto 0;
		column-count:1;
		padding-left:30px;
		padding-right:30px;
	}
	
	
	.states_svg {
		width: 118px;
		height: 138px;
		svg {
    	width: 118px;
			height: 138px;
		}
	}
	
	
} /* Media Query */