body {
	color:#010423;
}


.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
	max-width:100%;
	height:auto;
}


.content {
	color:#010423;
	font-family: $montserrat;
	//font-weight: 400;
	font-weight: 500;
	font-size:17px;
	line-height: 32px;
	h1.page_title {
		font-family: $playfair;
		font-weight: 700;
		font-size:70px;
		line-height: 76px;
		border-bottom:solid 5px $beige;
		padding-bottom:51px;
		margin-bottom:40px;
		color:$blue;
	}
	h2 {
		color:$bluelight;
		font-size: 24px;
		line-height: 38px;
		font-family: $montserrat;
		font-weight:700;
		padding-bottom:9px;
		padding-top:25px;
	}
	h3 {
		text-transform: uppercase;
		font-family: $montserrat;
		font-weight: 800;
		font-size:16px;
		letter-spacing: 0.2em;
		padding-top:12px;
		padding-bottom:17px;
		line-height: 21px;
		color:#2c3350;
	}
	p, ul, ol {
		margin-bottom: 33px;
	}
	a {
		color:$bluelight;
		transition: all 200ms ease-in-out;
		text-decoration: none;
		&:hover {
			color:$beige;
		}
	}
	blockquote {
		color:$bluelight;
		font-family: $playfair;
		font-size:30px;
		line-height: 52px;
		padding:20px 0 62px;
		padding-left: 50px;
		padding-right:30px;
		max-width: 920px;
	}
	hr {
		height:5px;
		width:100%;
		background: $beige;
		border:none;
		display: block;
		margin:42px 0 35px;
	}
	ol {
			list-style: none;
			counter-reset: item;
			padding-left:50px;
			> li {
				counter-increment: item;
				margin-bottom: 5px;
				position: relative;
				padding-left:30px;
				margin-bottom:4px;
	 		}
	 		> li:before {
	 				margin-right: 10px;
	 				content: counter(item);
	 				color:$bluelight;
	 				width: 1em;
	 				display: inline-block;
	 				position: absolute;
	 				top:0;
	 				left:0;
	 				font-family: $montserrat;
	 				font-weight: 800;
	 			}
		}
	
	ul {
		list-style: none;
		padding-left:50px;
		li {
			position: relative;
			padding-left:20px;
			margin-bottom:4px;
			&:before {
				content:"";
				display: block;
				width:6px;
				height:6px;
				background: $beige;
				position: absolute;
				top:12px;
				left:0;
				border-radius: 50%;
			}
		}
	}
}




			li.gform_hidden {
				display: none;
			}



@media screen and (max-width: 1135px) {
	
	.content {
		p {
			margin-bottom: 34px;
		}
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1100px) {
	
	.content {
		h1.page_title {
			font-size: 56px;
			padding-bottom: 20px;
			margin-bottom: 39px;
			line-height: 62px;
		}
		ul,ol {
			padding-left:5px;
		}
	}
	
	    
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
.alignleft,
.alignright,
.aligncenter,
img.alignleft,
img.alignright,
img.aligncenter {
	margin:4px auto 0px;
	float:none;
	max-width:100%;
	height:auto;
}


	
	.content {
		h1.page_title {
			font-size: 45px;
			line-height: 51px;
			margin-bottom: 31px;
		}
		h2 {
			font-size:22px;
			line-height: 34px;
			padding-bottom: 16px;
		}
		p {
			margin-bottom: 29px;
		}
		blockquote {
			padding: 8px 0 18px;
			font-size: 26px;
			line-height: 40px;
		}
	}
	
} /* Media Query */