.contact_wrapper {
	width:100%;
	background: url(#{$themePath}images/pattern-white.jpg) top left repeat;
	padding:0 75px 175px;
}


.contact_wrapper_inner {
	display: flex;
	max-width: 1473px;
	margin:0 auto;
}



body.page-template-page-contact {
	.footer_left {
		display: none;
	}
}


.contact_left {
	flex-basis: 550px;
	flex-shrink: 0;
	margin:115px 0 0;
	h1.contact_title {
		color:$beige;
		font-family: $montserrat;
		font-weight: 800;
		text-transform: lowercase;
		font-size:123px;
		line-height: 134px;
	}
}



.contact_right {
	margin:240px 0 0;
	flex-grow:1;
	padding-left: 13%;
	span.contact_svg {
		display: block;
		margin-bottom: 51px;
		svg, img {
			width:135px;
			height: 50px;
		}
	}
	span.small_header {
		color:$bluelight;
		font-family: $montserrat;
		font-weight: 800;
		display: block;
		font-size:24px;
		margin-bottom:29px;
	}
	a {
		transition: all 200ms ease-in-out;
		&:hover {
			color:$bluelight;
		}
	}
}


.contact_left_col {
	display: flex;
	justify-content: space-between;
}


.contact_flex_left {
	
	a,span {
		color:$blue;
	}
	.numbers {
		display: block;
		text-decoration: none;
		font-family: $montserrat;
		//font-weight: 400;
		font-weight: 500;
		font-size:18px;
		margin-bottom:25px;
		span {
			text-transform: uppercase;
			font-family: $montserrat;
			font-weight: 800;
			display: inline-block;
			padding-right:10px;
		}
	}
	.address {
		font-family: $montserrat;
		//font-weight: 400;
		font-weight: 500;
		font-size:18px;
		line-height: 32px;
		text-decoration: none;
		display: block;
		padding-top:5px;
		br.mobile {
			display: none;
		}
	}
	a.google_maps {
		text-transform: uppercase;
		color:$bluelight;
		font-family: $montserrat;
		font-weight: 800;
		font-size:14px;
		letter-spacing: 0.2em;
		text-decoration: none;
		margin-top: 25px;
		display: inline-block;
		padding-bottom:9px;
		border-bottom:4px solid $beige;
		transition: all 200ms ease-in-out;
		&:hover {
			color:$beige;
		}
	}
}

.contact_flex_right {
	flex-basis: 254px;
	span.right {
		margin-bottom:25px;
	}
	ul.social {
		list-style: none;
		li {
			text-transform: uppercase;
			font-family: $montserrat;
			font-weight: 800;
			font-size: 12px;
			letter-spacing: 0.2em;
			margin-bottom:30px;
			a {
				color:$blue;
				text-decoration: none;
				transition: all 200ms ease-in-out;
				&:hover {
					color:$bluelight;
				}
			}
		}
	}
}


.iframe_wrapper {
	position: relative;
	height:573px;
	iframe {
		width:100% !important;
		height:100% !important;
		position: absolute;
		top:0;
		left:0;
	}
}



@media screen and (max-width: 1555px) {
	
	
	
	.contact_right {
		padding-left:7%;
	}
	
	.contact_flex_right {
		
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1410px) {
	
	
	
.contact_left {
	flex-basis: 503px;
	h1.contact_title {
		font-size:110px;
		line-height: 115px;
	}
}


.contact_right {
	padding-left: 4%;
}
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1330px) {
	
	
	
.contact_left {
	flex-basis: 429px;
	h1.contact_title {
		font-size:90px;
		line-height: 100px;
	}
}
	
	.contact_right {
    flex-basis: 206px;
    padding-left:35px;
}
	
	
} /* Media Query */



@media screen and (max-width: 1250px) {
	
	
	.contact_wrapper_inner {
		flex-direction: column;
	}
	
	
	.contact_left, .contact_right {
		flex-basis: auto;
	}
	
	.contact_left {
		h1.contact_title {
			max-width:430px;
		}
	}

	
	
	.contact_right {
		margin: 120px 0 0;
		padding-left:0;
		max-width:800px;
	}
	
	.contact_flex_right {
		flex-basis: 204px;
	}
	
	.iframe_wrapper {
		height:440px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	.contact_wrapper {
		padding: 0 30px 48px;
	}
	
	.contact_left {
   	margin: 45px 0 0;
   	h1.contact_title {
			font-size: 70px;
			line-height: 78px;
			 max-width: 350px;
		}
	}
	
	.contact_right {
		margin: 70px 0 0;
	}
	
	.contact_left_col {
		flex-direction: column;
	}
	
	.contact_flex_right {
		padding-top:55px;
	}
	
	
	.iframe_wrapper {
		height:400px;
	}

	
	
} /* Media Query */


@media screen and (max-width: 390px) {
	
	
	.contact_left {
   	
   	h1.contact_title {
			font-size: 58px;
			line-height: 63px;
		}
	}
	
} /* Media Query */

