.sidebar_blog_wrapper {
	flex-basis:400px;
	flex-shrink: 0;
	margin-top:151px;
}


body.blog, body.archive, body.single {
	.two_col {
		max-width:1810px;
		padding: 0 150px 120px;
	}
	.inner_content {
		padding-left:11%;
		margin: 104px 0 33px;
	}
	.content {
		h1.page_title {
			padding-bottom: 37px;
		}
	}
}


.sidebar_blog {
	padding-bottom:40px;
	&:last-of-type {
		padding-bottom:0;
	}
	h3 {
		display: none;
	}
	span.sidebar_blog_title {
		text-transform: lowercase;
		font-family: $montserrat;
		font-weight: 800;
		font-size:24px;
		line-height: 32px;
		color:#192d50;
		&:after {
			content:"";
			width:60px;
			height:5px;
			background: $beige;
			display: block;
			margin:18px 0 0;
		}
	}
	ul {
		list-style: none;
		margin:55px 0 0;
		li {
			text-transform: lowercase;
			font-family: $montserrat;
			font-weight: 800;
			margin-bottom:45px;
			a {
				text-decoration: none;
				color:$blue;
				transition: all 200ms ease-in-out;
				&:hover {
					color:$bluelight;
				}
			}
		}
	}
}


.sidebar_blog.categories, .sidebar_blog.archive {
	ul {
		margin: 57px 0 0;
		li {
			text-transform: uppercase;
			font-size:14px;
			letter-spacing: 0.2em;
			margin-bottom: 36px;
			a {
				
			}
		}
	}
}



body.blog {
	a.view_all_sidebar {
		display: none;
	}
}

a.view_all_sidebar {
	color:$bluelight;
	text-transform: uppercase;
	font-family: $montserrat;
	font-weight: 800;
	text-decoration: none;
	transition: all 200ms ease-in-out;
	font-size:14px;
	letter-spacing: 0.2em;
	margin-bottom:45px;
	display: inline-block;
	&:hover {
		color:$beige;
		
	}
}




.post_feed_wrapper {
	padding-top:13px;
	margin-bottom:56px;
	h2 {
		font-size:24px;
		line-height: 38px;
		margin-top:0;
		padding-top:12px;
		a {
			color:#192d50;
			transition: all 200ms ease-in-out;
			&:hover {
				color:$bluelight;
				text-decoration: none;
			}
		}
	}
}


span.meta_info {
	text-transform: uppercase;
	font-family: $montserrat;
	font-weight: 800;
	font-size:14px;
	letter-spacing: 0.2em;
	color:#2c3350;
	display: inline-block;
	line-height: 20px;
	ul {
		padding:0;
		margin:0;
		display: inline;
		li {
			padding:0;
			display: inline;
			margin:0;
			&:before {
				display: none;
			}
			&:after {
				content:",";
				display: inline;
			}
			&:last-of-type {
				&:after {
					display: none;
				}
			}
			a {
				transition: all 200ms ease-in-out;
				&:hover {
					text-decoration: none;
					color:$beige;
				}
			}
		}
	}
	span.date {
		color:$bluelight;
	}
}


body.single {
	span.meta_info {
		margin-bottom:30px;
	}
}

.post_content {
	margin:5px 0 0;
}


a.post_read_more {
	background: $bluelight;
	color:#fff;
	display: inline-block;
	text-transform: uppercase;
	font-family: $montserrat;
	font-weight: 800;
	font-size:17px;
	letter-spacing: 0.2em;
	margin:28px 0 0;
	padding:10px 33px;
	transition: all 200ms ease-in-out;
	&:hover {
		background: $beige;
		color:#fff;
		text-decoration: none;
		
	}
}

.paged_wrapper {
	margin-top:85px;
	border-top:5px solid $beige;
	padding-top:20px;
	ul {
		padding-left:0;
		margin-bottom:0;
		li {
			padding-left:0;
			display: inline-block;
			text-transform: uppercase;
			font-family: $montserrat;
			font-weight: 800;
			color:#2c3350;
			font-size:14px;
			letter-spacing: 0.2em;
			margin:0 6px;
			&:before {
				display: none;
			}
			a {
				color:#2c3350;
				transition: all 200ms ease-in-out;
				&:hover {
					color:$bluelight;
					text-decoration: none;
				}
			}
		}
		li.active {
			a {
				color:$bluelight;
			}
		}
		li.myprev {
			margin-right:15px;
		}
		li.mynext {
			margin-left:15px;
		}
	}
}


@media screen and (max-width: 1450px) {
	
	
.sidebar_blog_wrapper {
	flex-basis:300px;
	
}

body.blog, body.archive, body.single {
	.two_col {
		
	}
	.inner_content {
	
	}
	.content {
		h1.page_title {
			
		}
	}
}
	
	
} /* Media Query */


@media screen and (max-width: 1100px) {
	
	
	
.sidebar_blog_wrapper {
	flex-basis:100%;
	order:2;
	padding-left:75px;
	padding-right:75px;
	margin-top: 55px;
}

body.blog, body.archive, body.single {
	.two_col {
		padding:0 0 90px;
	}
	.inner_content {
		padding-left:0;
		margin:67px 75px 0;
	}
	.content {
		h1.page_title {
			flex-basis: 100%;
			font-size: 56px;
			padding-bottom: 20px;
			margin-bottom: 39px;
			line-height: 62px;
		}
	}
}


.post_feed_wrapper {
	h2 {
		line-height:32px;
	}
}




a.post_read_more {
	padding: 10px 25px;
	font-size:14px;
}

a.view_all_sidebar {
	margin-bottom: 30px;
}


.post_feed_wrapper {
   margin-bottom: 42px;
}

.paged_wrapper {
	
}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
body.blog, body.archive, body.single {
	.two_col {
		
	}
	.inner_content {
		margin: 49px 30px 0;
	}
	.content {
		h1.page_title {
			font-size: 45px;
			line-height: 51px;
			margin-bottom: 31px
		}
	}
}
	
.post_feed_wrapper {
	padding-top:0;
}


a.post_read_more {
  padding: 8px 18px;
}


.paged_wrapper {
   margin-top: 64px;
   ul {
	   margin-bottom:25px;
   }
 }
 
 
 .sidebar_blog_wrapper {
	 padding-left:30px;
	 padding-right:30px;
 }
 
 .sidebar_blog {
   padding-bottom: 15px;
   span.sidebar_blog_title {
    	font-size:20px;
		}
		ul {
			margin: 39px 0 0;
			li {
				margin-bottom: 28px;
			}
		}
	}
	
	
	body.blog, body.archive, body.single {
		.two_col {
			padding-bottom:75px;
		}
	}
	
	
	
	a.view_all_sidebar {
		margin-bottom: 30px;
	}
	
	
	body.single {
		span.meta_info {
    	margin-bottom: 15px;
	}
	}
	
	
	
} /* Media Query */
