$themePath: '/wp-content/themes/dermer/';

// fonts

$montserrat: 'Montserrat', sans-serif;

// regular 400, medium 500, bold 700, extrabold 800

$playfair: 'Playfair Display', serif;

// regular 400, bold 700 bold italic 700i

$prata: 'Prata', serif;


// colors


$bluelight: #1e94ff;
$blue: #192d50;
$beige: #e8cab2;


