footer {
	width:100%;
	display: flex;
}


.footer_left {
	flex-basis:692px;
	flex-shrink: 0;
	span.large_header {
		font-family: $montserrat;
		font-weight: 800;
		font-size:123px;
		line-height:134px;
		display: block;
		color:$beige;
		padding-left:50px;
		text-transform: lowercase;
		margin:-58px 0 0;
	}
}



.footer_left_wrapper {
	max-width:335px;
	margin:118px auto 0;
	span.footer_svg {
		display: block;
		margin-bottom:40px;
		svg {
			width:135px;
			height: 50px;
		}
	}
	span.small_header {
		color:$bluelight;
		font-family: $montserrat;
		font-weight: 800;
		display: block;
		font-size:24px;
		margin-bottom:29px;
	}
	a {
		transition: all 200ms ease-in-out;
		&:hover {
			color:$bluelight;
		}
	}
}

.footer_flex_left {
	
	a,span {
		color:$blue;
	}
	.numbers {
		display: block;
		text-decoration: none;
		font-family: $montserrat;
		font-size:18px;
		margin-bottom:25px;
		span {
			text-transform: uppercase;
			font-family: $montserrat;
			font-weight: 800;
			display: inline-block;
			padding-right:10px;
		}
	}
	.address {
		font-family: $montserrat;
		font-size:18px;
		line-height: 32px;
		text-decoration: none;
		display: block;
		padding-top:5px;
		br.mobile {
			display: none;
		}
	}
	a.google_maps {
		text-transform: uppercase;
		color:$bluelight;
		font-family: $montserrat;
		font-weight: 800;
		font-size:14px;
		letter-spacing: 0.2em;
		text-decoration: none;
		margin-top:30px;
		display: inline-block;
		padding-bottom:9px;
		border-bottom:4px solid $beige;
		transition: all 200ms ease-in-out;
		&:hover {
			color:$beige;
		}
	}
}

.footer_flex_right {
	margin-top:80px;
	span.right {
		margin-bottom:25px;
	}
	ul.social {
		list-style: none;
		li {
			text-transform: uppercase;
			font-family: $montserrat;
			font-weight: 800;
			font-size: 12px;
			letter-spacing: 0.2em;
			margin-bottom:30px;
			a {
				color:$blue;
				text-decoration: none;
				transition: all 200ms ease-in-out;
				&:hover {
					color:$bluelight;
				}
			}
		}
	}
}



.footer_right {
	flex-grow:1;
	background: url(#{$themePath}images/pattern-blue.jpg) top left repeat;
	padding-left:56px;
	padding-right:56px;
}


.footer_right_inner {
	max-width:927px;
	margin:0 auto;
	text-align: center;
	padding: 125px 0 118px;
	span.free_case {
		color:$bluelight;
		display: block;
		text-transform: uppercase;
		font-family: $montserrat;
		font-weight: 800;
		font-size:18px;
		letter-spacing: 0.2em;
		&:after {
			content:"";
			width:53px;
			height:5px;
			background:$beige;
			display: block;
			margin:29px auto 0px;
		}
	}
	span.free_case_excerpt {
		color:#fff;
		font-family: $playfair;
		font-weight: 700;
		font-size:34px;
		line-height: 52px;
	  max-width: 750px;
		margin:14px auto 0;
		display: block;
	}
	span.required {
		color:$bluelight;
		text-transform: lowercase;
		font-size:17px;
		font-weight: 700;
		font-family: $playfair;
		font-style: italic;
		display: block;
		margin-top:28px;
		&:after {
			content:"";
			display: inline-block;
			width:6px;
			height:6px;
			border-radius: 50%;
			background:$bluelight;
			vertical-align: top;
			margin:6px 0 0 13px;
		}
	}
}


footer {
	.form {
		margin:80px 0 0;
		ul {
			list-style: none;
			display: flex;
			flex-wrap:wrap;
			justify-content: space-between;
			li#field_1_5 {
				flex-basis: 100%;
				&:after {
					left:230px;
				}
			}
			li {
				margin-bottom:13px;
				position: relative;
				flex-basis: 49.2%;
				::-webkit-input-placeholder {
				 	color: #fff;
  				}
				::-moz-placeholder {
					color: #fff;
  			}
				:-moz-placeholder {
					color: #fff;
			  }
				:-ms-input-placeholder {
					color: #fff;
  			}
				::-moz-placeholder {
					opacity: 1;
	  		}
	  		&:after {
		  		content:"";
					display: block;
					width:6px;
					height:6px;
					border-radius: 50%;
					background:$bluelight;
					vertical-align: top;
					position: absolute;
					top:31px;
					right:17px;
					
	  		}
				label {
					display: none;
				}
				input, textarea {
					background: #112243;
					border:1px solid #fff;
					color:#fff;
					font-family: $montserrat;
					font-weight: 700;
					text-transform: lowercase;
					font-size:17px;
					padding:22px 37px;
					width:100%;
				}
				input {
					
				}
				textarea {
					height:220px;
				}
			}
		}
		input[type="submit"] {
			background:$bluelight;
			border:none;
			color:#fff;
			font-family: $montserrat;
			font-weight: 800;
			text-transform: uppercase;
			font-size:18px;
			letter-spacing: 0.2em;
			margin-top:35px;
			padding:21px 130px;
			cursor: pointer;
			transition: all 200ms ease-in-out;
			&:hover {
				background: #fff;
				color:$bluelight;
			}
		}
	}
	.validation_error {
		display: none;
	}
	.gfield_description, .validation_message {
		color:#fff;
		text-align: left;
		text-transform: lowercase;
		font-family: $montserrat;
		font-size:13px;
		margin-top:6px;
		padding-left:37px;
	}
}


@media screen and (max-width: 1450px) {
	
	
	
.footer_left {
	flex-basis: 504px;
	span.large_header {
		font-size: 90px;
		line-height: 100px;
	}
}


.footer_left_wrapper {
   margin: 146px auto 0;
 }
 
 
 .footer_right_inner {
   padding: 121px 0 118px;
	}
	
	
} /* Media Query */



@media screen and (max-width: 1190px) {
	
	
	footer {
		flex-direction: column;
	}
	
	.footer_left {
		order:2;
	}
	
	.footer_right {
		flex-basis: auto;
		order:1;
	}
	
	
	.footer_right_inner {
    max-width: 787px;
    padding: 112px 0 99px;
   }
   
   
   footer {
	   .form {
		   ul {
			   li {
				  &:after {
					  top: 32px;
				  }
			   	input,textarea {
				   font-size:14px;
				   border:0.5px solid #fff;
				   padding: 23px 27px;
					 }
		   	}
		   }
		  }
   }
   
   
   .footer_left {
	   padding:0 65px 84px;
	   span.large_header {
		   margin-top:65px;
		   max-width: 475px;
		   padding-left:0;
	   }
   }
   
   .footer_left_wrapper {
	   margin: 93px 0 0;
	   max-width: 800px;
   }
   
   .footer_left_col {
	   display: flex;
	   width:100%;
		 .footer_flex_left {
			 flex-grow:1;
			 .address {
				 br.mobile {
					 display: inline-block;
				 }
			 }
		 }
	   .footer_flex_right {
		   margin-top:0;
		   flex-basis:210px;
		   span.right {
			   margin-bottom:28px;
		   }
		   ul.social {
			   li {
				   margin-bottom: 32px;
			   }
		   }
	   }
   }
   

	
	
} /* Media Query */
