header {
	height:130px;
	width:100%;
	display: flex;
	position: fixed;
	top:0;
	left:0;
	background: #fff;
}

.header_left {
	width:690px;
	display: flex;
	justify-content: center;
	align-items: center;
	a {
		svg {
			height:62px;
			width: 590px;
		}
	}
}

.header_right {
	display: flex;
	align-items: flex-end;
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
	padding-right:52px;
	span, a {
		display: block;
	}
	span.call_us {
		color:$blue;
		font-family: $playfair;
		font-weight: 700;
		font-style: italic;
		text-transform: lowercase;
		font-size:20px;
		margin-bottom:8px;
	}
	a.tel {
		font-size:33px;
		letter-spacing: 0.02em;
		color:$bluelight;
		font-family: $montserrat;
		font-weight:700;
		text-decoration: none;
	}
}



.menu_wrapper {
	width:142px;
	background: $bluelight;
}

.menu_wrapper {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top:12px;
	span {
		display: block;
	}
	span.menu_bar {
		width:100%;
		height:6px;
		background: #fff;
		margin-bottom:13px;
		max-width:63px;
	}
	span.menu_title {
		color:#fff;
		text-transform: uppercase;
		font-family: $montserrat;
		font-weight: 800;
		font-size:16px;
		letter-spacing: 0.2em;
		padding-left:0.2em;
	}
}


#sticky_header {
	display: none;
}


@media screen and (max-width: 1450px) {
	
	
	
	.header_left {
    width: 696px;
   }
	
	
} /* Media Query */


@media screen and (max-width: 1250px) {
	
	header {
		height: 100px;
	}
	
	
	
	.header_left {
    width: 359px;
    a {
	    svg {
		    width:322px;
	    }
    }
   }
   
   
.header_right {
	padding-right: 28px;
	span, a {
		
	}
	span.call_us {
		display: none;
	}
	a.tel {
		font-size:30px;
		letter-spacing: 0.02em;
	}
}


.menu_wrapper {
	width:113px;
	padding-top: 9px;
	span {
		
	}
	span.menu_bar {
		max-width: 51px;
		height: 4px;
		margin-bottom: 10px;
		&:last-of-type {
			margin-bottom:8px;
		}
	}
	span.menu_title {
		font-size:13px;
	}
}
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	header {
		height: 69px;
		display: block;
	}
	
	.header_left {
		width:100%;
		a {
			svg {
				width: 352px;
			}
		}
	}
	
	.header_right, .menu_wrapper {
		display: none;
	}	
	
	#sticky_header {
		display: flex;
		height: 50px;
		width:100%;
}
	
	
	
	.mobile_left, .mobile_right {
		height:100%;
		width:50%;
		a {
			display: flex;
			justify-content: center;
			height:100%;
			align-items: center;
			color:#fff;
			text-decoration: none;
			font-family: $montserrat;
			font-weight: 800;
			font-size:14px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			span {
				display: block;
			}
		}
		
	}
	
	.mobile_left {
		background: $blue;
		a {
			svg {
				width:28px;
				height:28px;
				margin-right:16px;
			}
		}
	}
	
	.mobile_right {
		background:$bluelight;
		display: flex;
		justify-content: center;
		align-items: center;
		span.mobile_menu_title {
			color:#fff;
			text-transform: uppercase;
			text-decoration: none;
			font-family: $montserrat;
			font-weight: 800;
			font-size:14px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			margin-right:15px;
		}
	}
	
	
	.mobile_menu_bars_wrapper {
		span.mobile_menu_bar {
			display: block;
			width:38px;
			height:3px;
			background:#fff;
			margin-bottom:7px;
			&:last-of-type {
				margin-bottom:0;
			}
		}
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 400px) {
	
	
	
	.header_left {
		width:100%;
		a {
			svg {
				width: 295px;
			}
		}
	}
	
	
	
	
} /* Media Query */
